<template>
  <div class="popup popup-contact-detail">
    <div class="header">
      <h2>{{ contact.name }}<span>의 연락처</span></h2>
      <button class="close" @click.prevent="onClickCancel" />
    </div>
    <div class="body">
      <div class="line">
        <label>사진</label>
        <div class="image-box">
          <img :src="contact.photo" alt="Contact Photo" />
        </div>
      </div>
      <div class="line">
        <label>이름</label>
        <p>{{ contact.name }}</p>
      </div>
      <div class="line">
        <label>번호</label>
        <p>{{ contact.no }}</p>
      </div>
      <div class="line">
        <label>주소</label>
        <p>{{ contact.address }}</p>
      </div>
      <div class="line">
        <label>전화번호</label>
        <p>{{ contact.tel }}</p>
      </div>
    </div>
    <div class="footer">
      <Button type="button" class="white" value="닫기" @click.native.stop="onClickCancel"/>
      <Button type="button" class="primary" value="자세히보기" @click.native.stop="onClickDetail"/>
    </div>
  </div>
</template>

<script>
import Button from '@/components/Button'

export default {
  name: 'PopupContactDetail',
  props: {
    contact: Object,
    onCancel: Function,
  },
  components: { Button },
  methods: {
    onClickCancel () {
      this.onCancel()
    },
    onClickDetail () {
      this.$router.push(`/contact/${this.contact.no}`)
    },
  },
}
</script>

<style scoped lang="scss">
.button + .button {
  margin-left: 12px;
}

.body {

  .line {
    display: flex;
    align-items: center;

    label {
      width: 96px;
      min-width: 96px;
      text-align: left;
      color: #5f14d3;
    }
    p {
      width: 100%;
      text-align: left;
    }
    .image-box {
      width: 80px;
      height: 80px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        object-fit: contain;
      }
    }
  }
  .line + .line {
    margin-top: 12px;
  }
}
</style>
