<template>
  <div class="popup popup-contact-add">
    <div class="header">
      <h2>신규 연락처</h2>
      <button class="close" @click.prevent="onClickCancel"/>
    </div>
    <div class="body">
      <!--<div class="line">
        <label>사진</label>
        <div class="image-box">
          <img :src="contact.photo || '../../../static/images/image-default-contact.svg'" alt="Contact Photo" />
        </div>
      </div>-->
      <div class="line">
        <label>이름</label>
        <input type="text" class="name" v-model="contact.name" @input="onChangeInput" placeholder="이름을 입력해주세요."/>
      </div>
      <div class="line">
        <label>주소</label>
        <input type="text" class="address" v-model="contact.address" @input="onChangeInput" placeholder="주소를 입력해주세요."/>
      </div>
      <div class="line">
        <label>전화번호</label>
        <input type="number" class="tel" v-model="tel[0]" @input="onChangeInput" placeholder="000"/>
        <input type="number" class="tel" v-model="tel[1]" @input="onChangeInput" placeholder="0000"/>
        <input type="number" class="tel" v-model="tel[2]" @input="onChangeInput" placeholder="0000"/>
      </div>
    </div>
    <div class="footer">
      <Button type="button" class="white" value="취소" @click.native.stop="onClickCancel"/>
      <Button type="submit" class="primary" value="추가" @click.native.stop="onAddContact"/>
    </div>
  </div>
</template>

<script>
import Button from '@/components/Button'

export default {
  name: 'PopupContactAdd',
  components: { Button },
  props: {
    onCancel: Function,
  },
  data () {
    return {
      contact: {
        name: '',
        address: '',
        tel: '',
      },
      tel: new Array(3),
      isValid: false,
      errorMessage: '',
    }
  },
  methods: {
    onClickCancel () {
      this.onCancel()
    },
    onChangeInput (e) {
      this.errorMessage = ''
    },
    async onAddContact () {
      // if (!this.validationCheck()) return
      this.contact.tel = this.tel.join('-')
      try {
        const addContactResult = await this.axios.post(`/contacts`, this.contact)
        console.log('addContactResult', addContactResult)
        alert(addContactResult.data.message)
        if (addContactResult.data.status !== 'fail') {
          this.onCancel('refresh')
        }
      } catch (e) {
        console.log('onAddContact Error', e)
      }
    },
  },
}
</script>

<style scoped lang="scss">
.button + .button {
  margin-left: 12px;
}

.body {

  .line {
    display: flex;
    align-items: center;

    label {
      width: 96px;
      min-width: 96px;
      text-align: left;
    }

    input {
      height: 36px;
      padding-left: 12px;
      font-size: 14px;

      &.name {
        width: 144px;
      }

      &.address {
        width: 100%;
      }

      &.tel {
        width: 108px;
      }

      &.tel + .tel {
        margin-left: 12px;
      }
    }

    .image-box {
      width: 80px;
      height: 80px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        object-fit: contain;
      }
    }
  }

  .line + .line {
    margin-top: 12px;
  }
}
</style>
