<template>
  <div class="popup popup-basic">
    <div v-if="title" class="header" v-html="title">
    </div>
    <div v-if="message" class="body" v-html="message">
    </div>
    <div class="footer">
      <Button v-if="type==='confirm'" type="button" class="white" value="Cancel"
              @click.native.stop="onClickCancel"/>
      <Button v-if="type==='confirm'" type="button" class="primary" value="OK"
              @click.native.stop="onClickConfirm"/>
      <Button v-if="type==='alert'" type="button" class="primary" value="OK"
              @click.native.stop="onClickCancel"/>
    </div>
  </div>
</template>

<script>
import Button from '@/components/Button'

export default {
  name: 'PopupBasic',
  components: { Button },
  props: {
    type: String,
    title: String,
    message: String,
  },
  methods: {
    onClickConfirm () {
      this.$emit('onClickConfirm')
      this.show = false
    },
    onClickCancel () {
      this.$emit('onClickCancel')
      this.show = false
    },
  },
}
</script>

<style scoped lang="scss">

</style>
