<template>
  <section>
    <div class="card">
      <div class="header">
        <h2>{{ contact.name }}<span>님의 정보</span></h2>
      </div>
      <div class="body">
        <div class="photo">
          <div class="image-box">
            <img :src="contact.photo" alt="Contact Photo"/>
          </div>
        </div>
        <div class="information">
          <div class="line">
            <label>이름</label>
            <p>{{ contact.name }}</p>
          </div>
          <div class="line">
            <label>번호</label>
            <p>{{ contact.no }}</p>
          </div>
          <div class="line">
            <label>주소</label>
            <p>{{ contact.address }}</p>
          </div>
          <div class="line">
            <label>전화번호</label>
            <p>{{ contact.tel }}</p>
          </div>
        </div>
      </div>
      <div class="footer">
        <Button type="button" class="white lg" value="뒤로가기" @click.native.stop="$router.back()"></Button>
      </div>
    </div>
  </section>
</template>

<script>
import Button from '@/components/Button'
export default {
  name: 'index',
  components: { Button },
  props: ['id'],
  data () {
    return {
      contact: {},
    }
  },
  created () {
    console.log(this.id)
    this.onGetContact()
  },
  methods: {
    async onGetContact () {
      try {
        const contactResult = await this.axios.get(`/contacts/${this.id}`)
        console.log('contactResult', contactResult)
        this.contact = contactResult.data
      } catch (e) {
        console.log('onGetContact Error', e)
      }
    },
  },
}
</script>

<style scoped lang="scss">
section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom right, #5f14d3, #41d5b5);

  .card {
    max-width: 720px;
    width: 80%;
    min-width: 360px;
    padding: 16px;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.3);

    .header {
      padding: 0 16px 16px 16px;
      border-bottom: 1px solid #999;
      text-align: left;
      display: flex;
      align-items: flex-end;

      h2 {
        font-size: 32px;
        color: #5f14d3;

        span {
          margin-left: 16px;
          font-size: 16px;
          color: #333;
        }
      }
    }

    .body {
      display: flex;
      align-items: center;

      .photo {
        min-width: 160px;
        width: 160px;

        .image-box {
          width: 160px;
          height: 160px;
          padding: 8px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            min-width: 100%;
            min-height: 100%;
            object-fit: contain;
          }
        }
      }

      .information {
        width: 100%;
        margin-left: 16px;

        .line {
          display: flex;
          align-items: center;

          label {
            width: 96px;
            min-width: 96px;
            text-align: left;
            color: #5f14d3;
          }
          p {
            width: 100%;
            text-align: left;
          }
        }
        .line + .line {
          margin-top: 12px;
        }
      }
    }

    .footer {
      padding: 16px 16px 0 16px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        width: 144px;
        height: 44px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-size: 16px;
      }
    }
  }
}
</style>
