<template>
  <section>
    <div class="contact-area">
      <FilterBox
        :contactAddPopupOpen="contactAddPopupOpen"
        :onSearchByName="onSearchByName"
        :onChangePageSize="onChangePageSize"
      />
      <ContactTable
        :contactList="contactList"
        :onDeleteContact="onDeleteContact"
        :contactDetailPopupOpen="contactDetailPopupOpen"
      />
      <VuePaginateAl
        :totalPage="totalPage"
        @btnClick="onChangePage"
      />
    </div>
    <PopupLayout :opened="isOpenPopup">
      <PopupContactDetail v-if="popupType==='contactDetail'" :onCancel="onCancel" :contact="selectedContact"/>
      <PopupContactAdd v-else-if="popupType==='contactAdd'" :onCancel="onCancel"/>
    </PopupLayout>
  </section>
</template>

<script>
import VuePaginateAl from 'vue-paginate-al'
import PopupLayout from '@/components/PopupLayout'
import PopupContactDetail from '@/components/popups/PopupContactDetail'
import PopupContactAdd from '@/components/popups/PopupContactAdd'
import FilterBox from '@/components/FilterBox'
import ContactTable from '@/components/ContactTable'

export default {
  name: 'index',
  components: { ContactTable, FilterBox, PopupContactAdd, PopupContactDetail, PopupLayout, VuePaginateAl },
  data () {
    return {
      searchName: '',
      contactList: [],
      totalCount: 0,
      totalPage: 0,
      params: {
        pageno: 1,
        pagesize: 10,
      },
      isOpenPopup: false,
      popupType: '',
    }
  },
  created () {
    this.onGetContacts()
  },
  methods: {
    onChangePage (pageno) {
      this.params.pageno = pageno
      this.onGetContacts()
    },
    onChangePageSize (e) {
      this.params.pagesize = e.target.value
      this.onGetContacts()
    },
    contactAddPopupOpen () {
      this.popupType = 'contactAdd'
      this.isOpenPopup = true
    },
    contactDetailPopupOpen (contact) {
      this.popupType = 'contactDetail'
      this.selectedContact = contact
      this.isOpenPopup = true
    },
    onCancel (message) {
      console.log(message)
      this.isOpenPopup = false
      if (message === 'refresh') this.onGetContacts()
    },
    async onDeleteContact (contactNo) {
      if (!confirm('연락처를 삭제하시겠습니까?')) return
      try {
        const deleteContactResult = await this.axios.delete(`/contacts/${contactNo}`)
        console.log('deleteContactResult', deleteContactResult)
        alert(deleteContactResult.data.message)
        this.onGetContacts()
      } catch (e) {
        console.log('onDeleteContact Error', e)
      }
    },
    async onSearchByName (searchName) {
      try {
        const contactsResultByName = await this.axios.get(`/contacts/search/${searchName}`)
        console.log('contactsResultByName', contactsResultByName)
        this.contactList = contactsResultByName.data
        this.totalCount = 0
        this.totalPage = 0
      } catch (e) {
        console.log('onSearchByName Error', e)
      }
    },
    async onGetContacts () {
      try {
        const contactsResult = await this.axios.get('/contacts', {
          params: this.params,
        })
        console.log('contactsResult', contactsResult)
        this.contactList = contactsResult.data.contacts
        this.totalCount = contactsResult.data.totalcount
        this.totalPage = Math.ceil(this.totalCount / this.params.pagesize)
      } catch (e) {
        console.log('onGetContacts Error', e)
      }
    },
  },
}
</script>

<style scoped lang="scss">
section {
  margin: 0 auto 72px auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  .contact-area {
    width: 100%;
    max-width: 1440px;
    padding-top: 108px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
</style>
