<template>
  <button :type="type" class="button md" :class="{'loading': loading}" :disabled="disabled">
    {{ `${loading ? '' : value}` }}
    <svg v-if="loading" class="spinner" width="25" height="25" viewBox="0 0 50 50">
      <circle class="path" cx="25" cy="25" r="20" fill="none" :stroke="color" stroke-width="5"></circle>
    </svg>
  </button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    loading: false,
    value: '',
    type: '',
    disabled: false,
  },
  data () {
    return {
      color: 'white',
    }
  },
  watch: {
    loading (value) {
      console.log('Button loading', value)
    },
  },
  methods: {},
}
</script>

<style scoped lang="scss">
.loading {
  text-align: center;

  .spinner {
    position: relative;
    display: flex;
    margin: auto;

    .path {
      stroke-linecap: round;
    }
  }

  &.primary {

    .path {
      stroke: #fff;
    }
  }

  &.white {

    .path {
      stroke: #41d5b5;
    }
  }

  &.gray,
  &.grey {

    .path {
      stroke: #999;
    }
  }
}
</style>
