<template>
  <table>
    <thead>
      <tr>
        <th>번호</th>
        <th>사진</th>
        <th>이름</th>
        <th>주소</th>
        <th>전화번호</th>
        <th></th>
      </tr>
    </thead>
    <tbody v-if="contactList && contactList.length > 0">
      <tr v-for="contact in contactList" :key="contact.no">
        <td>
          <router-link :to="`/contact/${contact.no}`">
            {{ contact.no }}
          </router-link>
        </td>
        <td>
          <router-link :to="`/contact/${contact.no}`">
            <div class="image-box">
              <img :src="contact.photo" alt="Contact Photo"/>
            </div>
          </router-link>
        </td>
        <td>
          <router-link :to="`/contact/${contact.no}`">
            {{ contact.name }}
          </router-link>
        </td>
        <td>
          <router-link :to="`/contact/${contact.no}`">
            {{ contact.address }}
          </router-link>
        </td>
        <td>
          <router-link :to="`/contact/${contact.no}`">
            {{ contact.tel }}
          </router-link>
        </td>
        <td>
          <Button class="primary md" value="상세" @click.native.stop="contactDetailPopupOpen(contact)"></Button>
          <Button class="grey md" value="삭제" @click.native.stop="onDeleteContact(contact.no)"></Button>
        </td>
      </tr>
    </tbody>
    <tbody v-else class="no-data">
      <tr>
        <td colspan="6">
          검색 결과가 없습니다.
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import Button from '@/components/Button'

export default {
  name: 'ContactTable',
  props: {
    contactList: Array,
    contactDetailPopupOpen: Function,
    onDeleteContact: Function,
  },
  components: { Button },
  created () {

  },
  methods: {},
}
</script>

<style scoped lang="scss">
table {
  width: 100%;
  margin-top: 24px;
  border-collapse: collapse;
  border: 1px solid #5f14d3;

  th, td {
    padding: 8px 16px;
    border: 1px solid #5f14d3;
  }

  thead {

    th {
      background-color: #5f14d3;
      color: #fff;
      cursor: pointer;
      position: relative;
    }
  }

  tbody {

    &.no-data {

      td {
        height: 240px;
        text-align: center;
      }
    }

    td {

    }
  }
}

.image-box {
  width: 128px;
  height: 128px;
  overflow: hidden;
  display: inline-block;

  img {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
  }
}
</style>
