<template>
  <div class="filter-box">
    <div class="search">
      <Button class="primary md" value="신규등록" @click.native.stop="contactAddPopupOpen"></Button>
      <input class="search-input md" placeholder="검색할 이름을 입력해주세요 (2글자 이상)" v-model="searchName"/>
      <Button class="white md" value="이름으로 검색" @click.native.stop="onSearchByName(searchName)"></Button>
    </div>
    <div class="page-size">
      <select class="md" @change="onChangePageSize">
        <option v-for="size in pageSize" :key="size.key" :value="size.key">
          {{ size.value }}
        </option>
      </select>
    </div>
  </div>
</template>

<script>
import Button from '@/components/Button'

export default {
  name: 'FilterBox',
  components: { Button },
  props: {
    contactAddPopupOpen: Function,
    onSearchByName: Function,
    onChangePageSize: Function,
  },
  data () {
    return {
      pageSize: [
        {
          key: 10,
          value: 10,
        },
        {
          key: 20,
          value: 20,
        },
        {
          key: 30,
          value: 30,
        },
        {
          key: 40,
          value: 40,
        },
        {
          key: 50,
          value: 50,
        },
      ],
      searchName: '',
    }
  },
}
</script>

<style scoped lang="scss">
.filter-box {
  width: 100%;
  height: 48px;
  padding: 6px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #cacaca;
  border: 1px solid #5f14d3;

  .search {
    display: flex;
    align-items: center;
  }

  .page-size {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .search-input {
    width: 280px;
    margin-left: 24px;
  }

  input + button,
  button + input {
    margin-left: 8px;
  }
}
</style>
