* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
}

input {

  &.error {
    border: 1px solid #d5441b;
  }

  &::-webkit-input-placeholder {
    color: #ccc;
  }
  &:-ms-input-placeholder {
    color: #ccc;
  }
}

input,
select {
  border: 1px solid #5f14d3;
  background-color: #fff;
  color: #333;
  border-radius: 3px;
  outline: none;
}

::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type=date] {
  -webkit-appearance: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("~/static/images/icon-arrow-down.svg");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: right 8px center;
}

select::-ms-expand {
  display: none;
}

select option {
  font-weight: normal;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
}

input, select, button {
  width: auto;
  height: auto;
  min-width: 72px;

  &.lg {
    padding: 12px 16px;
    font-size: 16px;
  }

  &.md {
    padding: 8px 12px;
    font-size: 14px;
  }

  &.sm {
    padding: 8px 12px;
    font-size: 13px;
  }
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &.button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
  }

  &.primary {
    background-color: #41d5b5;
    border: 1px solid #41d5b5;
    color: #fff;
  }

  &.white {
    background-color: #fff;
    border: 1px solid #41d5b5;
    color: #41d5b5;
  }

  &.gray,
  &.grey {
    background-color: #999;
    border: 1px solid #999;
    color: #333;
  }

  &.disabled {
    opacity: 0.4;
  }

  &.image-button {

  }
}

.popup {
  width: 480px;
  padding: 12px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  .header {
    width: 100%;
    padding-bottom: 12px;
    border-bottom: 1px solid #333;
    position: relative;
    display: flex;
    align-items: center;

    h2 {
      font-size: 32px;
      color: #5f14d3;

      span {
        margin-left: 16px;
        font-size: 16px;
        color: #333;
      }
    }

    button.close {
      min-width: 14px;
      height: 14px;
      position: absolute;
      right: 0;
      background-image: url("~/static/images/icon-close.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .body {
    padding: 12px 0;
    border-bottom: 1px solid #333;
  }

  .footer {
    padding-top: 12px;
  }
}
